body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  color: white;
}
.container_day {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(./photo/phone1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container_night {
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(./photo/phone2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button1_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 143, 143);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button1_day:hover {
  background-color: rgb(92, 92, 92);
}
.button2_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 90, 255, 0.7);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  border-bottom: 7px solid black;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button2_day:hover {
  background-color: rgb(140, 90, 255);
}
.button3_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 90, 255, 0.7);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  border-bottom: 7px solid black;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button3_day:hover {
  background-color: rgb(140, 90, 255);
}
.button4_day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(140, 90, 255, 0.75);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button4_day:hover {
  background-color: rgb(97, 24, 255);
}
.button1_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 51);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button1_night:hover {
  background-color: rgb(54, 0, 180);
}
.button2_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 51);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  border-bottom: 7px solid black;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button2_night:hover {
  background-color: rgb(140, 90, 255);
}
.button3_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 51);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  border-bottom: 7px solid black;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button3_night:hover {
  background-color: rgb(140, 90, 255);
}
.button4_night {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 255, 51);
  border-radius: 15px;
  border: 3px solid black;
  width: 290px;
  height: 70px;
  font-size: 35px;
  font-family: kavoon;
  cursor: pointer;
  border-bottom: 7px solid black;
  margin-top: 20px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000,
    3px 3px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}
.button4_day:hover {
  background-color: rgb(97, 24, 255);
}
.container_beta {
  display: flex;
  align-items: end;
  margin-left: 5%;
  width: 100%;
  height: 20%;
}
.text_beta {
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -3px 0 0 #000, 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000;
}

/*?/////////////////////////////////daynight_button////////////////////////////////////////////////// */
.day {
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: 10px;
  background-color: rgb(143, 231, 255);
  border-radius: 35px;
  border: 5px solid rgb(0, 143, 205);
  cursor: pointer;
  z-index: 1;
}
.sun {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgb(255, 255, 0);
  border-radius: 50%;
  margin-left: 51px;
  margin-top: 2px;
  border: 4px solid rgb(229, 187, 0);
}

.cloud {
  background-color: #fff;
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.1)
  );
  border-radius: 1em;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, 0.5);
  display: inline-block;
  height: 1em;
  right: 66px;
  top: 33px;
  position: relative;
  width: 40px;
  cursor: pointer;
  z-index: 1;
}
.cloud:after,
.cloud:before {
  background-color: #fff;
  content: "";
  border-radius: 100%;
  position: absolute;
}
.cloud:after {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.025)
  );
  height: 1em;
  right: 0.4em;
  top: -0.5em;
  width: 1em;
}
.cloud:before {
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 0%, 0) 50%,
    hsla(0, 0%, 0%, 0.075)
  );
  height: 1.6em;
  left: 0.4em;
  top: -0.75em;
  width: 1.6em;
}
.container_daynight {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  justify-content: end;
}
/* /////////////////////day/night////////////////////// */

@keyframes sun_anime {
  0% {
    transform: translate(0);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(-48px);
    opacity: 0;
  }
}
.sun_anime {
  animation: sun_anime 0.8s;
  animation-fill-mode: forwards;
}
@keyframes cloud_anime {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.cloud_anime {
  animation: cloud_anime 0.8s;
  animation-fill-mode: forwards;
}
@keyframes day_anime {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.day_anime {
  animation: day_anime 0.8s;
  animation-fill-mode: forwards;
}

.night {
  position: relative;
  right: 150px;
  width: 100px;
  height: 50px;
  background-color: rgb(48, 29, 110);
  border-radius: 35px;
  border: 5px solid rgb(0, 0, 0);
  cursor: pointer;
}
.moon {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: rgb(233, 233, 207);
  border-radius: 50%;
  top: 2px;
  left: 53px;
  border: 4px solid rgb(170, 167, 152);
}
.moon_sircle1 {
  position: relative;
  width: 7px;
  height: 8px;
  top: 5px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.moon_sircle2 {
  position: relative;
  width: 5px;
  height: 4px;
  top: 10px;
  left: 17px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.moon_sircle3 {
  position: relative;
  width: 1px;
  height: 1px;
  left: 28px;
  bottom: 20px;
  background-color: rgb(223, 223, 197);
  border: 4px solid rgb(170, 167, 152);
  border-radius: 40px;
}
.star {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}
.star.star1 {
  bottom: 7px;
  left: 50px;
}
.star.star2 {
  bottom: 45px;
  left: 55px;
  width: 4px;
  height: 4px;
}
.star.star3 {
  bottom: 43px;
  left: 73px;
  width: 3px;
  height: 3px;
}
.star.star4 {
  bottom: 24px;
  left: 80px;
  width: 5px;
  height: 5px;
}
.star.star5 {
  bottom: 55px;
  left: 86px;
  width: 3px;
  height: 3px;
}
.star.star6 {
  bottom: 43px;
  left: 57px;
  width: 3px;
  height: 3px;
}
@keyframes night_anime {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.night_anime {
  animation: night_anime 0.8s;
  animation-fill-mode: forwards;
}
@keyframes moon_anime {
  0% {
    transform: translate(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50px);
    opacity: 1;
  }
}
.moon_anime {
  animation: moon_anime 0.8s;
  animation-fill-mode: forwards;
}

@keyframes moon_anime_reverse {
  0% {
    transform: translate(-50px);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(0);
    opacity: 0;
  }
}
.moon_anime_reverse {
  animation: moon_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}

@keyframes night_anime_reverse {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.night_anime_reverse {
  animation: night_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}
@keyframes sun_anime_reverse {
  0% {
    transform: translate(-50px);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
.sun_anime_reverse {
  animation: sun_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}
@keyframes cloud_anime_reverse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.cloud_anime_reverse {
  animation: cloud_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}
@keyframes day_anime_reverse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.day_anime_reverse {
  animation: day_anime_reverse 0.8s;
  animation-fill-mode: forwards;
}

/*////////////////////////////////////////////////////////////////////////*/
